extends layout
block content
  a(href='/') Main Page
  h2 Freelancer Detail
  p #{freelancer.name}

  h3 Profile:

  p Country: #{freelancer.country}
  p Bio: #{freelancer.description}

  h3 Specialties:

  if freelancer.specialties.length
    ol
      each specialty in freelancer.specialties
        li #{specialty.field}: #{specialty.experience}
  else
    p This person doesn't have any speacialties yet.

  h3 Jobs:

  if freelancer.jobs.length
    ol
      each job in freelancer.jobs
        li
          a(href=`/jobs/${job.id}`) #{job.title}
  else
    p This person doesn't have any jobs yet.

  h3 Sold Jobs:

  if freelancer.orders.length
    ol
      each order in freelancer.orders
        li '#{order.job.title}'
  else
    p This person hasn't sold any jobs yet.