extends layout
block content
  a(href='/') Main Page
  h2 Job Detail
  p #{job.title}

  h3 Job Information

  <em>Title:</em> #{job.title}
  br
  <em>Content:</em> #{job.content}
  br
  <em>Price:</em> #{job.price}
  br
  <em>Delivery Time:</em> #{job.deliveryTime}
  br
  <em>Freelancer: </em>
    a(href=`/freelancers/${job.freelancer.id}`) #{job.freelancer.name}
  br
  <em>Rating:</em>
    if job.comments.length
      ul
        each ratingAndComment in job.comments
          li Rating: #{ratingAndComment.rating} | Comment: #{ratingAndComment.text}
    else
      p This job doesn't have any comments yet.
