extends layout
block content
  a(href='/') Main Page
  h2 Orders
  p There are #{orders.length} orders in this platform.

  ol
    each order in orders
      li
        a(href=`/orders/${order._id}`) #{order.job.title}
        |      #{order.price} dollars. Order's status is: #{order.status}
